.bg {
  background-image: url('iceSkating.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hello {
  color: black; 
  position: fixed; 
  left: 10%;
  top: 25%;
  font-size: 4vw;
  font: bold;
  background-color: darkgray;
}