.home {
  height: 100%;
  margin: 0;
  background-color: #b2dfdb;
  /* background-color: #b2ebf2; */
  position: center;
  overflow-x: hidden; 
}

.home-container {
  position: relative;
  top: 5%;
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* background-color: royalblue; */
  flex-direction: column;
  justify-content: center;
}

.group3 {
  width: 35%;
  height: 60%;
  /* background-color: darkgreen; */
  display: flex;
  flex-direction: column;
}

.group1 {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 4vw;
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  /* background-color: darkgray; */
}

.name-resume {
  align-self: center;
}

.proCircle {
  height: 21vw;
  width: 21vw;
  /* background-color: darkgray; */
}

.group1-1 {
  position: relative;
  justify-content: center;
}

.group2 {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.7vw;
  width: 80%;
  margin: auto;
  min-width: 300px;
};

.intro {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 2vw;
}