.home {
  height: 100%;
  margin: 0;
  background-color: #b2dfdb;
  /* background-color: #b2ebf2; */
  position: center;
  overflow-x: hidden; 
}

.home-container {
  position: relative;
  width: 90%;
  height: 90%;
  margin: auto;
}

.proRec {
  height: 70%;
  position: absolute;
  left: 3%;
  margin: 0;
  top: 10%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-style: solid;
  border-color: white;
  border-width: 2vw;
  background-color: white;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.proRec:hover, .proRec:focus, .proRec:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.group2 {
  color: black;
  background-color:#f0fafa;
  width: 50%;
  height: 50%;
  padding: 20px;
  position: absolute;
  left: 40%;
  margin: 0;
  top: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* border-style: solid;
  border-color: #009688;
  border-width: 5px;
  background-color: #f0fafa; */
  /* width: 80%;
  margin: auto;
  min-width: 300px; */
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.group2:hover, .group2:focus, .group2:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.name-resume {
  /* align-self: center; */
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 6vh;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.name {
  /* width: 40%; */
  margin: auto;
  text-align: center;
  /* overflow-wrap: initial; */
  /* background-color: white; */
  /* padding-right: 25px; */
}

.intro {
  color: black;
  height: 80%;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 2.7vh;
  overflow: auto;
}

.intro-paragraph {
  /* background-color: white; */
}