/* .acc-container {
  width: 60%;
  margin: auto;
}

.header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
}

.summary-container {
  width: 100%;
}

.summary {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  float: left;
}

.summary-sub {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  color: #505050;
  float: right;
}

.project-des {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1vw;
} */