.card-flex-container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* background-color: blue; */
  justify-content: center;
}

.card-container {
  min-width: 250px;
  width: 20%;
  margin: 10px;
}

.component-header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 5vh;
  font-weight: 500;
}
