.App {
  text-align: center;
  background-image: url("https://github.com/seanzhan0319/sean-zhan-website/blob/master/src/iceSkating.jpg");
  /* Center and scale the image nicely */
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  height: 100%;
  margin: 0;
  background-color: #b2dfdb;
  /* background-color: #b2ebf2; */
  position: center;
  overflow-x: hidden; 
}

.footer {
  /* position: absolute;
  bottom: 0; */
  /* margin: 0; */
  /* width: 100%; */
  background-color: #009688;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3vw;
  /* height: 100%; */
}

.footer-resume {
  padding-left: 5px;
  color: white;
}
/* 
.btn {
  font-size:16px;
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
  background-color: #80cbc4;
  font-weight: 400;
  font-size: 1.2vw;
  color: black;
} */

/* .footer-resume:hover {
  color:black;
  background-color:white;
  opacity:1;
} */

.footer-resume:link {
  text-decoration: none;
}

.footer-resume:visited {
  text-decoration: none;
}

.footer-resume:hover {
  text-decoration: underline;
}

.footer-resume:active {
  text-decoration: underline;
}