.App {
  text-align: center;
  background-image: url("https://github.com/seanzhan0319/sean-zhan-website/blob/master/src/iceSkating.jpg");
  /* Center and scale the image nicely */
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url('./iceSkating.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
}

.group1 {
  position: relative;
  left: 10%;
  top: 25%;
}

.hello {
  color: black; 
  position: fixed; 
  float: left;
  font-size: 4vw;
  font-family: 'Roboto', sans-serif;
  background-size: 5vw 10vw;
  background-color: darkgray;
}

.resume {
  /* color: black; */
  position: fixed;
  /* left: 10%;
  top: 36%; */
  /* background-color: darkgray; */
  margin-top: 5%;
}
