.NavBar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 8%;
  /* background-color: #333; */
  background-color: #009688;
  /* height: 4vw; */
}

.left {
  float: left;
  height: 100%;
}

.right {
  float: right;
  height: 100%;
}

.Navbar-li a {
  display: block;
  color: white;
  text-align: center;
  padding: calc(10px + 0.4vw) 3.1vh;
  /* padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh; */
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6vw;
  /* width: 10vw; */
}

.Navbar-li a:hover {
  background-color: #111;
}

.Navbar-icon {
  height: calc(18px  + 1.1vw);
  width: calc(18px  + 1.1vw);
}

.Navbar-resume {
  background-color: white; /* Green */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(20px);
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}