.NavBar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
  background-color: #009688;
  /* height: 4vw; */
}

.left {
  float: left;
}

.right {
  float: right;
}

.Navbar-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: calc(12px + 1vw);
}

.Navbar-li a:hover {
  background-color: #111;
}

.Navbar-icon {
  height: calc(18px  + 1.1vw);
  width: calc(18px  + 1.1vw);
}